@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-right: 20px;
  background-color: #b4c9c6;
  position: sticky;
  top: 0;
  align-content: center;
}

nav img
{
    height: 120px;
    width: auto;
}

nav svg
{
    width: 50px;
}

nav h1{
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
  align-content: center;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}

#panier
{
  transition: transform 0.2s;
}

#panier :hover
{
  transform: scale(1.2);
}

.link
{
    margin-right: 30px !important;
    text-decoration: none;
    color: #000;
    align-content: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color: #b4c9c6;
  padding-bottom: 20px;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}

.btn a
{
  text-decoration: none;
  color: #000;
}

.btn :hover
{
  display: block;
    background-color: #3a4e4b;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px;
    font-size: large;
    color: #fff;
}

.btn 
{
    background-color: #ffffff;
    text-decoration: none !important;
    border-radius: 8px;
    padding: 15px;
    font-size: large;
}


header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}

header svg
{
    width: 20px;
}

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  margin-right: 40px;
  transition: transform 0.2s;
}

.cards :hover
{
  transform: scale(1.1);
}


.cards .card{
  margin-right: 20px;
  cursor:pointer;
}

.cards .card img{
  width: 350px;
  padding: 0;
  margin: 0;
}

.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.cards .card .card-body p{
  margin-top: -10px;
}

.main .video{
  margin-top: 80px;
  width: 90%;
}

.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

footer .social-media{
  display: flex;
}

footer .social-media p{
  right: 20px;
  cursor:pointer;
}

.social-media svg
{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}


#linkedin, #twitter, #facebook, #instagram
{
    margin-top: 0px;
    transition: transform 0.2s;
}

#linkedin:hover, #twitter:hover, #facebook:hover, #instagram:hover
{
    transform: scale(1.2);
}


@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
}